body {
  align-items: center;/*centra todo al centro de los 2 ejes*/
  background: #707070;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'VT323', monospace;
  justify-content: center;
    
  }
header{ 
  background-color: rgb(245, 241, 246);
  border-radius: 5% 5% 5% 5%;
  padding: 15px;
  width: 90%; 
}
.header .menu a{
  color: #000000;
  font-size: 30px;
  margin-right: 25px;
  text-decoration: none;
}
.header .menu a:hover{
   color: #3fff3f;
}
.padre{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px; /*espacios entre los hijos*/
  height: 97%;
  justify-content: center;
  width: 97%;
}
.hijo1{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45%;
  justify-content: center;
  width: 45%;
}  
h1{
  color: rgb(245, 241, 246);
}
#formularioNombre label[for="nombre"] {
  color: rgb(245, 241, 246);
  font-size: 25px; /* Puedes ajustar el tamaño según tus preferencias */  
}
.hijo2{
  align-items: center;
  background: rgb(246, 226, 249);
  border-radius: 15% 15% 15% 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45%;
  justify-content: center;
  width: 45%;
}
.contenedorBtn{
  display: flex;
  flex-wrap: wrap;
  height: 340px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 39px;
  width: 340px;   
}
.btnJugar{
  background-color: rgb(196, 169, 202);
  font-weight: bold;
  width: 50%;
}
.btnVerHistorial{
  background-color: rgb(196, 169, 202);
  font-weight: bold;
  width: 50%;
}
.btnOcultarHistorial{
  background-color: rgb(196, 169, 202);
  font-weight: bold;
  width: 50%;
}

.btnJugar:hover{
  background: #3fff3f;
}
.btnVerHistorial:hover{
  background: #3fff3f;
}
.btnOcultarHistorial:hover{
  background: #3fff3f;
}

.active {
  border-color: rgb(255, 255, 255);
  border-width: 5px;
  box-shadow: 0px 0px 20px rgb(255, 247, 0);
  cursor: pointer;
  height: 150px;
  margin: 3px;
  width: 150px;
}
.activarMouseEnter {
  box-shadow: 0px 0px 20px rgb(255, 255, 255); 
}
#rojo {
  background: red;
  border-color: rgb(255, 255, 255);
  border-radius: 50% 20% 20% 20%;
  border-width: 5px;
  cursor: pointer;
  height: 150px;
  margin: 3px;
  width: 150px;
}
#verde {
  background: green;
  border-color: rgb(255, 255, 255);
  border-radius: 20% 50% 20% 20%;
  border-width: 5px;
  cursor: pointer;
  height: 150px;
  margin: 3px;
  width: 150px;
}
#azul {
  background: blue;
  border-color: rgb(255, 255, 255);
  border-radius: 20% 20% 20% 50%;
  border-width: 5px;
  cursor: pointer;
  height: 150px;
  margin: 3px;
  width: 150px;
}
#amarillo {
  background: yellow;
  border-color: rgb(255, 255, 255);
  border-radius: 20% 20% 50% 20%;
  border-width: 5px;
  cursor: pointer;
  height: 150px;
  margin: 3px;
  width: 150px;
}
/* Estilos para el modal */
.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 45px;
}
.hijo2{
  display: none;
}
@media screen and (max-width:1368px) {
  header{ 
    background-color: rgb(245, 241, 246);
    border-radius: 5% 5% 5% 5%;
    padding: 0px;
    width: 95%;
    
  }
  .header .menu a{
    color: #000000;
    font-size: 20px;
    margin-left: 2px;
    margin-right: 5px;
    text-decoration: none;
  }
  .padre{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px; /*espacios entre los hijos*/
    height: 97%;
    justify-content: center;
    width: 97%;
  }
  .hijo1{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45%;
    justify-content: center;
    width: 45%;
  }  
  #formularioNombre label[for="nombre"] {
    font-size: 25px; /* Puedes ajustar el tamaño según tus preferencias */
  }
  .contenedorBtn{
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    justify-content: center;
    margin-top: 10px;
    width: 260px;
      
  }
  .btnJugar{
    width: 50%;
  }
  .btnVerHistorial{
    width: 50%;
  }
  .btnOcultarHistorial{
    width: 50%;
  }
  .active {
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    box-shadow: 0px 0px 20px rgb(255, 247, 0);
    cursor: pointer;
    height: 100px;
    margin: 3px;
    width: 100px;
  }
  .activarMouseEnter {
    box-shadow: 0px 0px 20px rgb(255, 255, 255); 
  }
  #rojo {
    background: red;
    border-color: rgb(255, 255, 255);
    border-radius: 50% 20% 20% 20%;
    border-width: 5px;
    cursor: pointer;
    height: 120px;
    width: 120px;
  }
  #verde {
    background: green;
    border-color: rgb(255, 255, 255);
    border-radius: 20% 50% 20% 20%;
    border-width: 5px;
    cursor: pointer;
    height: 120px;
    width: 120px;
  }
  #azul {
    background: blue;
    border-color: rgb(255, 255, 255);
    border-radius: 20% 20% 20% 50%;
    border-width: 5px;
    cursor: pointer;
    height: 120px;
    width: 120px;
  }
  #amarillo {
    background: yellow;
    border-color: rgb(255, 255, 255);
    border-radius: 20% 20% 50% 20%;
    border-width: 5px;
    cursor: pointer;
    height: 120px;
    width: 120px;
  }
}